*{
    box-sizing:border-box;
    /*outline:1px solid rgba(255,0,85,0.5);*/
}
html{
    background:#001919;
}
body{
    padding:0;
    margin:0;
    font:18px/24px 'Open Sans', 'Helvectica', 'Tahoma', 'Droid Sans', sans-serif;
}
p{
    margin:0;
}
.row{
    padding:1rem 0;
}
header .logo{
    display:inline-block;
    vertical-align:middle;
}
header .logo svg{
    width:5rem;
    height:5rem;
    top:1rem;
    position:absolute;
}
header .logo svg #top{
    fill:rgba(38, 235, 163,0.5);
}
header .logo svg #left{
    fill:rgba(38, 235, 163,0.95);
}
header .logo svg #right{
    fill:rgba(38, 235, 163,0.75);
}
header .social{
    display:inline-block;
    text-align:right;
    vertical-align:middle;
    float:right;
    font-size:0;
}
header .social>a{
    display:inline;
    font-size:1rem;
    text-align:left;
    text-decoration:none;
    color:rgba(38, 235, 163,0.95);
    background:rgba(0,0,0,0.2);
    padding:0.25rem 0.5rem;
    border-radius:2px;
}
header .social>a+a{
    margin-left:1rem;
}
header .top{
    margin:0 auto;
    max-width:48rem;
    padding-top:1rem;
}
main{
    position:relative;
    outline-offset:0rem;
    background:#fff;
    padding:0;
    max-width:48rem;
    display:block;
    margin:2rem auto;
    line-height:0;
}
header .hero,
footer{
    text-align:center;
    max-width:48rem;
    margin:0 auto;
    padding:0;
}
header .hero p{
    color:rgba(38, 235, 163,0.95);
    text-align:right;
    margin:0;
    font-size:0.8rem;

}
main iframe{
    outline:0;
    border:0;
    margin:0;
    padding:0;
    width:100%;
    height:0;
    padding-top:56.25%;
    background:rgba(38, 235, 163,0.95);
}
main span{
    position:absolute;
    text-align:center;
    display:block;
    width:100%;
    top:50%;
}
aside{
    display:block;
    font-size:0;
    max-width:48rem;
    margin:0 auto;
    margin-top:-1rem;
}
.stream-grid{
    display:inline-block;
    font-size:0;
    background:rgba(0,0,0,0.4);
    color:rgba(38, 235, 163,0.5);
    width:calc(25% - (3rem / 4));
    height:11rem;
    margin-top:1rem;
    text-decoration:none;
    overflow:hidden;
}
.stream-grid+a{
    margin-left:1rem;
}
.stream-grid+a:nth-of-type(4n+1){
    margin-left:0rem;
}
.stream-grid>.stream-img{
    background-color:rgba(38, 235, 163,0.95);
    width:100%;
    padding-top:56.25%;
}
.stream-grid>.stream-info{
    font-size:1rem;
    padding:0.5rem;
}
.stream-grid>.stream-info>h3{
    font-size:0.8rem;
    line-height:1.5;
    margin:0;
}
.stream-grid>.stream-info>p{
    font-size:0.65rem;
    line-height:1.5;
    margin:0;
}